{% extends "layout.html" %}

{% block content %}

    {% for post in grievances %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
            <h4><a class="article-title" href="#">Category: {{ post.category_grievance }}</a></h4>
            <h5><a class="article-title" href="#">Title: {{ post.title }}</a></h5>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    
{% endblock content %}